.containerCollection-container {
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.containerCollection-title {
  color: #280d5f;
}

.containerCollection-title-dark {
  color: #fff;
}
