@mixin m-1000() {
  @media (max-width: 1000px) {
    @content;
  }
}

.titleNFT-container {
  background: linear-gradient(139.73deg, #e5fdff, #f3efff);

  width: 100%;
}

.titleNFT-content {
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include m-1000() {
    padding: 40px 24px;
  }

  h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 1.1;

    color: #7645d9;

    margin-bottom: 24px;
    @include m-1000() {
      font-size: 48px;
    }
  }
  p {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;

    color: #280d5f;
  }
}
