@mixin m-1400() {
  @media (max-width: 1400px) {
    @content;
  }
}

.titleNFT-container {
  background: linear-gradient(139.73deg, #e5fdff, #f3efff);

  width: 100%;
}
.titleNFT-container-dark {
  background: linear-gradient(139.73deg, #313d5c, #3d2a54);
}

.titleNFT-content {
  // padding: 40px 40px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include m-1400() {
    padding: 40px 24px;
    align-items: start;
    justify-content: flex-start;
  }

  h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 1.1;

    color: #7645d9;

    margin-bottom: 24px;
    @include m-1400() {
      font-size: 48px;
    }
  }
  .titleNFT-subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;

    color: #280d5f;
  }
  .titleNFT-subtitle-dark {
    color: #fff;
  }
}
