@mixin sm-370px {
  @media (max-width: 370px) {
    @content;
  }
}
@mixin md-768px {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin bg-992px {
  @media (max-width: 992px) {
    @content;
  }
}

.hero-section {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;

  background: -webkit-linear-gradient(310.27deg, #e6fdff 0%, #f3efff 100%);
  background: linear-gradient(139.73deg, #e6fdff 0%, #f3efff 100%);

  //Non so se funzionano con le altre parti
  overflow: hidden;
  position: relative;

  .hero-section-content {
    max-width: 1200px;
    width: 100%;
    padding: 60px 3%;
    z-index: 1;

    .hero-slideBar {
      // background: radial-gradient(
      //   104.12% 231.19% at -4.12% -5.83%,
      //   rgb(0, 87, 174) 0.52%,
      //   rgb(102, 124, 198) 67.41%,
      //   rgb(25, 229, 245) 100%
      // );

      background-repeat: no-repeat;
      background-size: cover;

      height: 194px;
      border-radius: 32px;
      position: relative;
      @include md-768px() {
        overflow: hidden;
      }
      //
      .hero-slideBar-content {
        display: flex;
        flex-direction: column;
        padding: 24px;

        & > span,
        h2 {
          color: #fff;
          z-index: 2;
        }

        & > span:first-of-type {
          font-size: 20px;
          @include md-768px() {
            font-size: 14px;
          }
        }
        & > h2:nth-child(2) {
          font-size: 33px;
          margin: 10px 0 21px;
          font-weight: 800;

          @include bg-992px() {
            font-size: 26px;
          }
          @include md-768px() {
            font-size: 19px;
            margin: 10px 0 10px;
          }
        }
        //
        // .hero-slideBar-content-img {
        //   position: absolute;
        //   height: 100%;
        //   width: 100%;
        //   top: 6px;
        //   right: 0px;
        // }

        .hero-slideBar-btn {
          display: flex;
          gap: 10px;
        }

        .hero-slideBar-btnSlider {
          cursor: pointer;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          width: 108px;
          bottom: 12px;
          z-index: 3;

          border-radius: 4px;
          height: 8px;
          background-color: #ffffff40;

          span {
            width: 33%;
          }

          span:nth-child(1) {
            background-color: #fff;
            border-radius: 4px 0 0 4px;
          }
        }

        .hero-slideBar-img {
          position: absolute;

          bottom: -27px;
          right: 57px;

          @include bg-992px() {
            right: -28px;
          }
          @include md-768px() {
            bottom: -17px;
            right: 0px;
          }

          .hero-slideBar-img-bunny1 {
            width: 193px;
            height: 263px;
            @include md-768px() {
              width: 103px;
              height: 138px;
            }
          }
        }
      }
    }
  }
}
//DARK MODE
.hero-section-dark {
  background: radial-gradient(103.12%50%at 50%50%, #21193a 0%, #191326 100%);
}
.hero-icon-dark {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(172deg) brightness(94%)
    contrast(104%) !important;
}
.hero-homepage-text-parag-dark {
  color: #fff;
}

.hero-slideBar-img-bunny2 {
  position: relative;
  left: 56px;
  bottom: 1px;
  @include bg-992px() {
    left: -29px;
    bottom: 8px;
    height: 175px;
  }
  @include md-768px() {
    left: 0px;
    bottom: 4px;
    height: 98px;
  }
}

.hero-slideBar-img-bunny3 {
  position: relative;
  left: 56px;
  top: -22px;
  width: 373px;
  height: 234px;
  @include bg-992px() {
    left: -14px;
    top: -22px;
  }
  @include md-768px() {
    left: 101px;
    top: -11px;
    height: 236px;
  }
}
