.containerLiquid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9faff;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  padding-bottom: 6vh;
  font-family: Kanit, sans-serif;
  font-weight: bold;
  color: azure;
}

.liquidContent {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.liquidCardT {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 21vh;
  width: 90vh;
  border-radius: 30px;
  padding: 30px;
  gap: 15px;
  background-color: #9770fd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238a83fc'/%3E%3Cstop offset='1' stop-color='%238a83fc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235e9cff'/%3E%3Cstop offset='1' stop-color='%235e9cff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236ba7f7'/%3E%3Cstop offset='1' stop-color='%236ba7f7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239770FD'/%3E%3Cstop offset='1' stop-color='%239770FD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238492F7'/%3E%3Cstop offset='1' stop-color='%238492F7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236CB8EF'/%3E%3Cstop offset='1' stop-color='%236CB8EF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.buttonLiquidity {
  display: flex;
  width: 18vh;
  gap: 2vh;
}
.buttonLiquidity button {
  height: 5vh;
  width: 12vh;
}

.bunnyLiquid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
  position: relative;
  top: -23.7vh;
  right: -30vh;
   
}

.firstRowBu {
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 150px;
  font-size: 20px;
  z-index: 1;
}

.secondRowBu {
  font-size: 18px;
  z-index: 1;
}

.liquidityCard {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 90vh;
  border: solid 1px;
  border-radius: 30px;
  padding: 30px;
  gap: 15px;
  background-color: white;
}

.firstRowLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstRowLi h2 {
  color: #280d5f;
  font-size: 19px;
}

.secondRowLi p {
  color: #7a6eaf;
  font-size: 14px;
}

.firstRowP {
  justify-self: flex-end;
  color: #7a6eaf;
}

.fourthRowLi {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  background-color: #eeeaf4;
  position: relative;
  top: 4vh;
}

.fourthRowLi p {
  color: #7a6eaf;
  font-size: 14px;
}

.btnBottom {
  position: relative;
  top: 6vh;
}

.btnLiq {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  color: #fff;
}
.gg-spinner {
  transform: scale(var(--ggs, 1));
}

.gg-spinner,
.gg-spinner::after,
.gg-spinner::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  color: #7a6eaf;
}

.gg-spinner::after,
.gg-spinner::before {
  content: "";
  position: absolute;
  border-radius: 100px;
}

.gg-spinner::before {
  animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
  border: 3px solid transparent;
  border-top-color: currentColor;
}

.gg-spinner::after {
  border: 3px solid;
  opacity: 0.2;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*@media screen and (min-width: 968px){}
.bunnyCard
 {
    padding: 32px 32px 0;}*/

@media screen and (max-width: 1285px) {
  .firstRowBu,
  .secondRowBu {
    font-size: 16px;
  }
  .liquidCardT {
    width: 80vh;
  }

  .bunnyLiquid {
    width: 17vh;
    position: relative;
    top: -12.7vh;
    right: -30vh;
  }


  .liquidityCard {
    width: 80vh;
  }
}
@media screen and (max-width: 1135px) {
  .liquidCardT {
    width: 60vh;
  }

  .bunnyLiquid {
    width: 15vh;
    position: relative;
    top: -13.4vh;
    right: -21vh;
  }


  .liquidityCard {
    width: 60vh;
  }
}
@media screen and (max-width: 679px) {
  .liquidCardT {
    width: 40vh;
  }



  
 
}
@media screen and (max-width: 679px) {
  .thirdRowLi {
    flex-wrap: wrap;
  }
  .firstRowBu,
  .secondRowBu {
    font-size: 11.5px;
  }
  .buttonLiquidity button {
    width: 8vh;
    height: 5vh;
    gap: 0vh;
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  .bunnyLiquid {
    width: 12vh;
    position: relative;
    top: -8.5vh;
    right: -12vh;
  }
  .liquidCardT {
    width: 40vh;
  }
  .liquidityCard {
    width: 40vh;
  }
}
@media screen and (max-width: 415px) {
  .firstRowBu,
  .secondRowBu {
    font-size: 11.5px;
  }
  .buttonLiquidity button {
    width: 8vh;
    height: 5vh;
    gap: 0vh;
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  .bunnyLiquid {
    width: 12vh;
    position: relative;
    top: -8.4vh;
    right: -12vh;
  }
}
