//sass --watch cardswap.scss cardswap.css

.card_swap {
    height: 720px;
    width: 390px;
    background: linear-gradient(139.73deg,#e5fdff,#f3efff);
    padding: 16px;
    .card_element_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .card {
            height: 600px;
            width: 300px;
            background-color: white;
            padding: 16px;
            border-radius: 20px;
            border: 1px solid rgb(128, 128, 128, 0.5);
        }
    }
}