// sass --watch Image_Text_Wrapper.scss Image_Text_Wrapper.css

.Image_Text_Wrapper {
    display: flex;
    flex-direction: column;
    // height: 358px;   
    width: 100%;
    padding-top: 16px;
    z-index: 0;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        .Bridge_assets {
            margin: 20px 0px;
            color: #1FC7D4;
            font-weight: bolder;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
        .need_help {
            background-color: #7a6eaa;
            border-radius: 10px;
            width: 168px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            position: relative;
            left: 1px;
        }
        img {
            max-width: 160px;
            max-height: 180px;
        }

    }
}

