//sass --watch underbar.scss underbar.css
// b8add2
#underbar-dark {
    background-color: #1d1d22;
    .underbar_link {
        color: #b8add2;
    }
}
#underbar {
    background-color: white;
    .underbar_link {
        color: #7a6eaa;
    }
}
#underbar, #underbar-dark {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    gap: 20px;
    div {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 10px;
        
        .underbar_link {
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }

    }
    .clicked_wrapper {
        position: relative;
        top: 12px;
        display: flex;
        flex-direction: column;
        .underbar_link {
            text-decoration: none;
            font-size: 16px;
            font-weight: bolder;
            color: #7645d9;
        }
    }
}

.colored_bar {
    height: 4px;
    width: 100%;
    background-color: #1fc7D4;
    border-radius: 10px;
}