.navbar {
  height: 56px;
  background-color: white;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e7e3eb;
  justify-content: space-between;
}

.navbar-container-logo-menu {
  display: flex;
  flex-direction: row;
}

.navbar-img-logo {
  height: 56px;
  width: 160px;
}

.navbar-logo-home {
  block-size: fit-content;
  width: fit-content;
}

.navbar-menus {
  width: 330px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.navbar-btn-trade {
  color: #7a6eaa;
  width: 71.5px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.navbar-dropdown-content a {
  color: #7a6eaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover {
  background-color: #ddd;
}

.navbar-dropdowns:hover .navbar-dropdown-content {
  display: block;
  border-radius: 8px;
}

.navbar-dropdowns:hover .navbar-btn-trade {
  background-color: rgb(241, 232, 232);
}

.navbar-btn-earn {
  color: #7a6eaa;
  width: 64.22px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.navbar-dropdowns {
  position: relative;
  display: inline-block;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  width: 280px;
  height: fit-content;
}

.navbar-dropdown-content a {
  color: #7a6eaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover {
  background-color: rgb(241, 232, 232);
  border-radius: 8px;
}

.navbar-dropdowns:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdowns:hover .navbar-btn-earn {
  background-color: rgb(241, 232, 232);
}

.navbar-btn-win {
  color: #7a6eaa;
  width: 59px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.navbar-dropdowns:hover .navbar-btn-win {
  background-color: rgb(241, 232, 232);
}

.navbar-btn-NFT {
  color: #7a6eaa;
  width: 60.15px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.navbar-dropdowns:hover .navbar-btn-NFT {
  background-color: rgb(241, 232, 232);
}

.navbar-btn-3-points-menu {
  color: #7a6eaa;
  width: 58px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.navbar-dropdowns:hover .navbar-btn-3-points-menu {
  background-color: rgb(241, 232, 232);
}

.navbar-three-points-menu {
  width: 20px;
  height: 20px;
}

.navbar-img-bunny-logo {
  height: 24px;
  text-decoration: none;
}

.navbar-img-bunny-logo:hover {
  transform: scale(1.2);
  transition: 200ms;
}

.navbar-icon-bunny-navbar-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-price {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
  color: #7a6eaa !important;
}

.navbar-container-details-from-navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar-btn-change-language {
  width: 48px;
  height: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: center;
}

.navbar-img-lng {
  width: 30px;
}

.navbar-language:hover .navbar-btn-change-language {
  opacity: 0.5;
  transition: 200ms;
}

.navbar-btn-option {
  width: 48px;
  height: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
}

.navbar-img-btn-option {
  width: 25px;
  rotate: 90deg;
}

.navbar-option:hover .navbar-img-btn-option {
  opacity: 0.5;
  transition: 200ms;
}

.navbar-container-details-from-navbar {
  height: 56px;
  display: flex;
  align-items: center;
}

.navbar-change-crypto {
  border: none;
  background-color: #eff4f5;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #280d5f;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  gap: 5px;
}

.navbar-img-change-crypto {
  width: 30px;
  height: 30px;
}

.navbar-img-down-arrow {
  width: 20px;
  height: 15px;
}

.navbar-dropdown-crypto:hover .navbar-dropdown-content {
  display: block;
  border-radius: 8px;
}

.navbar-dropdown-crypto:hover .navbar-change-crypto {
  background-color: rgb(241, 232, 232);
}

.navbar-select-network-text {
  color: #7a6eaa;
  padding: 15px;
  font-size: 16px;
}

.navbar-img {
  width: 25px;
  height: 20px;
  padding-right: 5px;
}

.navbar-btn-connect-wallet {
  padding: 0px 15px 0px 15px;
}

@media screen and (max-width: 970px) {
  .bunny-navbar-price {
    display: none;
  }
  .navbar-img-logo {
    height: 56px;
    width: 35px;
  }
}

@media screen and (max-width: 850px) {
  .navbar-menus {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .navbar-change-crypto {
    display: none;
  }
  .navbar-change-crypto-dark {
    display: none;
  }
}

.navbar-dark {
  background-color: #27262c;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  border: 1px solid black;
}

.navbar-btn-trade-dark {
  background-color: transparent;
  color: #7a6eaa;
  width: 71.5px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.navbar-btn-earn-dark {
  background-color: transparent;
  color: #7a6eaa;
  width: 64.22px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.navbar-btn-win-dark {
  background-color: transparent;
  color: #7a6eaa;
  width: 59px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.navbar-btn-NFT-dark {
  background-color: transparent;
  color: #7a6eaa;
  width: 60.15px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.navbar-btn-3-points-menu-dark {
  background-color: transparent;
  width: 58px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.navbar-dropdown-content-dark a {
  color: #7a6eaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-dropdowns-dark:hover .navbar-dropdown-content-dark {
  display: block;
  border-radius: 8px;
}

.navbar-dropdowns-dark:hover .navbar-btn-trade-dark {
  background-color: #3c3742;
  display: block;
}

.navbar-dropdown-content-dark {
  display: none;
  position: absolute;
  background-color: #27262c;
  z-index: 2;
  width: 280px;
  height: fit-content;
}

.navbar-dropdown-content-dark a:hover {
  background-color: #3c3742;
  border-radius: 8px;
}

.navbar-dropdowns-dark:hover .navbar-btn-earn-dark {
  background-color: #3c3742;
}

.navbar-dropdowns-dark:hover .navbar-btn-win-dark {
  background-color: #3c3742;
}

.navbar-dropdowns-dark:hover .navbar-btn-NFT-dark {
  background-color: #3c3742;
}

.navbar-dropdowns-dark:hover .navbar-btn-3-points-menu-dark {
  background-color: #3c3742;
}

.navbar-btn-change-language-dark {
  background-color: #27262c;
  border: none;
  cursor: pointer;
  padding: 0px 8px;
}

.navbar-language-dark:hover .navbar-btn-change-language-dark {
  opacity: 0.5;
  transition: 200ms;
}

.navbar-btn-option-dark {
  background-color: #27262c;
  border: none;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 5px;
}

.navbar-option-dark:hover .navbar-btn-option-dark {
  opacity: 0.5;
  transition: 200ms;
}

.navbar-change-crypto-dark {
  border: none;
  background-color: #3c3742;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #280d5f;
  border-radius: 10px;
  color: white;
  gap: 5px;
}

.navbar-dropdown-crypto-dark:hover .navbar-dropdown-content-dark {
  display: block;
  border-radius: 8px;
}

.navbar-dropdown-crypto-dark:hover .navbar-change-crypto-dark {
  background-color: #3c3742;
}

.navbar-price-dark {
  color: #7a6eaa !important;
  font-weight: 900;
  padding-left: 5px;
  padding-right: 5px;
}
