* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

@keyframes animate2 {
  from {
    transform: translate(0px, 20px);
  }
}
* {
  font-family: "Kanit", sans-serif;
}

.orange-section-container {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
@media (min-width: 900px) {
  .orange-section-container {
    max-height: 700px;
  }
}

.orange-section {
  background: linear-gradient(#6fb6f1, #eaf2f6);
}

.orange-section-dark {
  background: linear-gradient(#0b4576, #091115);
}
.orange-section-dark .section-wrapper {
  background: rgba(8, 6, 11, 0.6);
  border: 1px solid rgba(184, 173, 210, 0.337254902);
}
.orange-section-dark .section-wrapper .top-text h2 {
  color: white;
}
.orange-section-dark .section-wrapper .top-text h3 {
  color: #b8add2;
}

.orange-section,
.orange-section-dark {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.section-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
}

.section-wrapper {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .section-wrapper {
    border-radius: 72px;
  }
}
.section-wrapper .top-text {
  max-width: 200px;
}
@media (min-width: 900px) {
  .section-wrapper .top-text {
    max-width: fit-content;
  }
}
.section-wrapper .top-text h2 {
  text-align: center;
  font-size: 40px;
  color: #280d5f;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}
.section-wrapper .top-text h2 span {
  color: #7645d9;
}
.section-wrapper .top-text h3 {
  text-align: center;
  color: #7a6eaa;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-right: 118px;
  margin-left: 118px;
}
.card-wrapper .left-card {
  background: linear-gradient(180deg, #fdab32, #ffd800);
  margin-right: 24px;
  border-radius: 24px;
  margin-left: 24px;
  margin-bottom: 10px;
  padding: 24px;
  min-height: 350px;
  min-width: 275px;
  max-width: 275px;
}
@media (min-width: 900px) {
  .card-wrapper .left-card {
    /* Styles to apply if viewport is wider than 768px */
    transform: rotate(-1.43deg);
    margin-right: 24px;
    border-radius: 24px;
    margin-right: 24px;
    margin-bottom: 10px;
    padding: 24px;
    max-width: 275px;
    min-height: 350px;
  }
  .card-wrapper .left-card:hover {
    transition: all 1s ease-out;
    transform: translateY(-10px) rotate(-5deg);
  }
  .card-wrapper .left-card:not(:hover) {
    transition: all 1s ease-out;
    transform: translateY(0px) rotate(-1.4deg);
  }
}
.card-wrapper .left-card img {
  margin-left: 90%;
}
.card-wrapper .left-card .text-card-wrapper {
  color: #280d5f;
  text-align: left;
}
.card-wrapper .left-card .text-card-wrapper :first-child,
.card-wrapper .left-card .text-card-wrapper :nth-child(3) {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
.card-wrapper .left-card .text-card-wrapper :nth-child(2) {
  color: #280d5f;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 600;
}
.card-wrapper .left-card .text-card-wrapper :nth-child(3) {
  margin-bottom: 24px;
}
.card-wrapper .left-card .text-card-wrapper :nth-child(4) {
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
.card-wrapper .right-card {
  background: linear-gradient(#7544d8, #5121b1);
  border-radius: 24px;
  padding: 24px;
  color: #ffffff;
  max-width: 275px;
  height: 100%;
  max-height: 350px;
}
@media (min-width: 900px) {
  .card-wrapper .right-card {
    /* Styles to apply if viewport is wider than 768px */
    transform: rotate(1.43deg);
    border-radius: 24px;
    padding: 24px;
    color: #ffffff;
    max-width: 275px;
    height: 100%;
    min-height: 350px;
  }
  .card-wrapper .right-card:hover {
    transition: all 1s ease-out;
    transform: translateY(-10px) rotate(5deg);
  }
  .card-wrapper .right-card:not(:hover) {
    transition: all 1s ease-out;
    transform: translateY(0px) rotate(1.4deg);
  }
}
.card-wrapper .right-card img {
  margin-left: 90%;
}
.card-wrapper .right-card .text-card-wrapper :nth-child(1),
.card-wrapper .right-card .text-card-wrapper :nth-child(3) {
  font-size: 16px;
}
.card-wrapper .right-card .text-card-wrapper :nth-child(2) {
  font-size: 40px;
  line-height: 1.5;
  background: -webkit-linear-gradient(180deg, #ffd800, #fdab32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-wrapper .right-card .text-card-wrapper :nth-child(3) {
  margin-bottom: 44px;
}
.card-wrapper .right-card .text-card-wrapper :nth-child(4) {
  color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 16px;
}
.card-wrapper .button-orange-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper .button-orange-card a {
  width: 100%;
  text-decoration: none;
}
.card-wrapper .button-orange-card a .btn,
.card-wrapper .button-orange-card a .btn-dark {
  width: 100%;
}

.bottom-left-wrapper {
  left: -50px;
}
@media (min-width: 900px) {
  .bottom-left-wrapper {
    top: 300px;
    left: -10px;
  }
}

.top-right-wrapper {
  top: -10px;
  right: 15px;
}
@media (min-width: 900px) {
  .top-right-wrapper {
    top: -10px;
    right: 15px;
  }
}

.bottom-left-wrapper,
.top-right-wrapper {
  max-width: 512px;
  max-height: 512px;
  position: absolute;
}
@media (min-width: 900px) {
  .bottom-left-wrapper,
  .top-right-wrapper {
    height: 512px;
    width: 512px;
  }
}
.bottom-left-wrapper img,
.top-right-wrapper img {
  max-width: 512px;
  max-height: 512px;
  position: absolute;
  animation: animate 2s ease-in-out infinite alternate;
  z-index: -1;
}
.bottom-left-wrapper :first-child,
.top-right-wrapper :first-child {
  animation-delay: -2000ms;
}
.bottom-left-wrapper :nth-child(2),
.top-right-wrapper :nth-child(2) {
  animation-delay: -3000ms;
}
.bottom-left-wrapper :nth-child(3),
.top-right-wrapper :nth-child(3) {
  animation-delay: -4000ms;
}
.bottom-left-wrapper :nth-child(4),
.top-right-wrapper :nth-child(4) {
  animation-delay: -5000ms;
}
.bottom-left-wrapper :nth-child(5),
.top-right-wrapper :nth-child(5) {
  animation-delay: -6000ms;
}
.bottom-left-wrapper .ball7,
.top-right-wrapper .ball7 {
  left: 20px;
  animation: animate2 2s ease-in-out infinite alternate;
}
.large {
  width: 100%;
}
/*# sourceMappingURL=orange-section.css.map */
