@import url("./Components/UI/Animation/animation.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
}

/* Mostra una scrollbar personalizzata */
::-webkit-scrollbar {
  width: 8px;
}

/* Modifica il colore del thumb della scrollbar */
::-webkit-scrollbar-thumb {
  background: #7a6eaa;
  border-radius: 8px;
}

/* Modifica il colore del track della scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeaf4;
  border-radius: 10px;
}
