.section3-wrapper {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.section3-wrapper-dark {
  background: linear-gradient(#161616, #232424);
}

.images-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}

.images-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.images-wrapper img:nth-child(1) {
  z-index: 1;
}

.images-wrapper img:nth-child(2) {
  z-index: 2;
}

.images-wrapper img:nth-child(3) {
  z-index: 3;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twin-section-title {
  font-size: 40px;
  font-weight: bold;
  color: #280d5f;
  margin-bottom: 20px;
  text-align: initial;
  position: relative;
  right: 8px;
}

.twin-section-title-dark {
  color: white !important;
}

.secondary {
  color: #7645d9;
}

.paragraph {
  font-size: 18px;
  color: #7a6eaa;
  margin-bottom: 28px;
  text-align: initial;
}

.btn-wrapper {
  display: flex;
  position: relative;
  right: 127px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #1fc7d4;
  position: relative;
  left: 20px;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.section4-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.images-wrapper2 {
  position: relative;
  height: 400px;
  width: 400px;
  margin-right: 30px;
}

.images-wrapper2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.images-wrapper2 img:nth-child(1) {
  z-index: 1;
}

.images-wrapper2 img:nth-child(2) {
  z-index: 2;
}

.images-wrapper2 img:nth-child(3) {
  z-index: 3;
}

.text-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.twin-section2-title {
  font-size: 40px;
  font-weight: bold;
  color: #280d5f;
  margin-bottom: 20px;
  text-align: initial;
  position: relative;
  right: 50px;
}

.twin-section2-title-dark {
  color: white !important;
}

.btn-wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 164px;
}

.svg-divider {
  fill: white;
}

.svg-divider-dark {
  fill: #232424 !important;
}

.section4 {
  background: linear-gradient(#f2ecf2, #e8f2f6);
}

.section4-dark {
  background: linear-gradient(166.77deg, #3b4155, #3a3045);
}

.arrow {
  position: relative;
  top: 3px;
  filter: invert(75%) sepia(66%) saturate(1100%) hue-rotate(140deg)
    brightness(86%) contrast(93%);
}

.paragraph2 {
  font-size: 18px;
  color: #7a6eaa;
  margin-bottom: 28px;
  text-align: initial;
  position: relative;
  padding-right: 45px;
}

.tab-title-dark {
  color: white !important;
}

.tab-container {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  grid-gap: 20px;
  margin-top: 20px;
  padding-bottom: 90px;
  opacity: 1;
  transition: opacity 0s ease 0s, margin-top 0s, all 0.4s ease-out 0s;
}

.title-container {
  display: flex;
  position: relative;
  left: 20px;
  margin-bottom: -10px;
}

.data-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.inter-table {
  transition: all 0.5s ease-in-out;
}

.farms-data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: minmax(60px, calc(5vw - 20px));
}

.syrup-data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


.data-item1,
.data-item2,
.data-item3,
.data-item4,
.data-item5 {
  padding: 20px;
}

.data-item2,
.data-item3,
.data-item4,
.data-item5 {
  border-left: 1px solid #d7caec;
}

.small-title {
  color: #7645d9;
  margin-bottom: 15px;
  font-size: 12px;
}

.data-paragraph {
  font-size: 16px;
  font-weight: 600;
  color: #280d5f;
  margin-bottom: 4px;
}

.data-paragraph-dark {
  color: white;
}

.data-initials {
  font-size: 16px;
  font-weight: 400;
  color: #7a6eaa;
}

.click-data {
  border: none;
  position: relative;
  bottom: 3px;
  left: 10px;
  background: bottom;
}

.click-data:hover {
  cursor: pointer;
}

.click-btn:hover {
  fill: #a189cf;
}

.click-btn {
  fill: #7645d9;
}

.click-btn-dark {
  fill: #7a6eaa;
}

@media (min-width: 850px) {
  .farms-data {
    grid-gap: 60px;
  }
}

@media (max-width: 850px) {
  .section3-wrapper {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-right: 0;
    margin-top: -65px;
  }

  .images-wrapper {
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }

  .images-wrapper img {
    width: 100%;
    height: auto;
    height: 100%;
  }

  .text-box {
    order: 1;
    width: 100%;
    padding: 0 20px;
    align-items: flex-start;
  }

  .twin-section-title {
    max-width: 100%;
    text-align: left;
    font-size: 32px;
    position: relative;
    left: 3px;
  }

  .paragraph {
    text-align: left;
  }

  .btn-wrapper {
    right: 0;
    margin-left: 0;
  }

  .section4-wrapper {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-right: 0;
  }

  .images-wrapper2 {
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
  }

  .images-wrapper2 img {
    width: 100%;
    height: auto;
    height: 100%;
  }

  .text-box2 {
    order: 1;
    width: 100%;
    padding: 0 20px;
    align-items: flex-start;
  }

  .twin-section2-title {
    max-width: 100%;
    font-size: 32px;
    text-align: left;
    position: relative;
    left: 1px;
  }

  .paragraph2 {
    text-align: left;
  }

  .btn-wrapper2 {
    right: 0;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .tab-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 570px) {
  .tab-container {
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin-top: 0;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  .farms-data,
  .syrup-data {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .data-item2,
  .data-item3,
  .data-item4,
  .data-item5 {
    border-left: none;
  }

  .data-item1,
  .data-item2,
  .data-item3,
  .data-item4,
  .data-item5 {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .svg-divider {
    fill: #f2ecf2;
  }
}
