.footer {
  background-color: #27262c;

  padding: 51px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
}

.footer-links-container {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* margin: 0px 0px 36px; */
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-ul {
  list-style: none;
}

.footer-li {
  height: 24px;
  color: white;
}

.footer-h4 {
  color: #9a6aff;
  height: 24px;
  padding: 0px 0px 8px;
}

.footer-a {
  text-decoration: none;
}

.footer-a:hover {
  text-decoration: underline white;
}

.footer-contact-a {
  text-decoration: none;
}

.footer-contact-a:hover {
  text-decoration: underline #ffb237;
}

.footer-img-logo {
  width: 160px;
  height: 24.84px;
}

.footer-img-social {
  height: 30px;
  padding-right: 10px;
}

.footer-social {
  height: 55px;
  margin: 0px 0px 32px;
  padding: 0px 0px 32px;
  /* padding-left: 250px; */
  padding-top: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.footer-social-a {
  text-decoration: none;
}

.footer-instagram-fix {
  height: 23px;

  position: relative;
  top: 4px;
}

.footer-change-mode-buy-cake {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer-img-bunny-logo {
  height: 24px;
  text-decoration: none;
}

.footer-img-bunny-logo:hover {
  transform: scale(1.2);
  transition: 200ms;
}

.footer-icon-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-price {
  padding-left: 5px;
  padding-right: 5px;
  color: #7a6eaa;
}

.footer-price-buy-cake {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer-btn-language {
  width: 48px;
  height: 20px;
  border: none;
  background-color: #27262c;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: center;
}

.footer-img-lng {
  width: 30px;
}

.footer-btn-lng:hover .footer-btn-language {
  opacity: 0.5;
  transition: 200ms;
}

.footer-btn-mode-btn-lng {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer-right-arrow {
  width: 20px;
  height: 20px;
}

.footer-container-lists-social {
  display: flex;
  flex-direction: column;
}

.footer-container-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container-hr {
  display: flex;
  justify-content: center;
}

.footer-hr {
  width: 100%;
}

hr {
  border: 1px solid grey;
}

/* switch */

.footer-label-color {
  background-color: #666666 !important;
}

/* .footer-input-mode[type="checkbox"] {
  display: none;
  width: 100px;
} */

/* .footer-label {
  top: 10px;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
} */

/* .footer-sun {
  width: 20px;
  height: 20px;
  transform: translateX(25px);
  transition: 0.3s;
} */

/* .footer-moon {
  width: 20px;
  height: 20px;
  transform: translateX(0px);
  transition: 0.3s;
  opacity: 0;
} */

/* .footer-btn-mode {
  display: flex;
  align-items: center;
} */

/* #switch-button1:checked ~ label > .footer-sun {
  opacity: 0;
  transform: translateX(0px);
}

#switch-button1:checked ~ label > .footer-moon {
  opacity: 1;
  transform: translateX(-25px);
} */

@media only screen and (max-width: 670px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-container-lists {
    flex-direction: column;
  }
  .footer-list {
    margin: 10px 0;
  }
  .footer-li {
    margin: 2px 0;
  }
  .footer-change-mode-buy-cake {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .footer-btn-mode-btn-lng {
    margin: 35px 0;
  }

  .footer-price-buy-cake {
    justify-content: space-between;
  }

  .footer-links-container {
    flex-direction: column-reverse;
  }

  .footer-container-lists-social {
    margin-top: 30px;
  }
  .footer-logo {
    margin: 24px 0;
  }
}
