@mixin sm-880px {
  @media (min-width: 880px) {
    @content;
  }
}

@mixin m-1180px {
  @media (min-width: 1180px) {
    @content;
  }
}

@mixin xs-650px {
  @media (min-width: 650px) {
    @content;
  }
}

.nft-container {
  background-color: #faf9fa;
}
.nft-container-dark {
  background-color: #08060b;
}

.newestCollections-container {
  padding: 16px 24px;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;

  @include xs-650px() {
    grid-template-columns: 1fr 1fr;
  }

  @include sm-880px() {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include m-1180px() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // @include dm-1000px() {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  // }
}

.nft-container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
